@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');


:root{
    
    --primary-coral:#FE656B;
    --primary-pink: #FD6178;
    --primary-orange:#FF695E;
    --light-pink:#ffeaeb;
    --dark-gray:#4f5255;
    --light-gray:#f1f1f1;

    
}
*{
    font-family: 'Poppins', sans-serif;

}

body{
    margin: 0;
}


/* grid */



#page {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "head head"
                         "nav  main"
                         ;
    grid-template-rows: 1fr 6fr ;
    grid-template-columns: 1fr 5fr;
  }
  
  #page > header {
    grid-area: head;
    background-color: var(--primary-coral) ;
    color: white;

  }
  
  #page > nav {
    grid-area: nav;
    background-color: white;
  }
  
  #page > main {
    grid-area: main;
    background-color: var(--light-pink);
    padding: 1rem;
  }


  /* links */

  .li-comps{
      list-style-type: none;
      padding: 1rem 0rem;
  }

  a{
      text-decoration: none;
      color:black;

  }
.component-name:hover{
    padding: 1rem;
    color: white;
    background-image:  linear-gradient(to right, var(--primary-orange) , var(--primary-pink)) ;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    transition: 0.3s;
}

  

/* button */

.primary-button{
    padding: 1rem;
    color: white;
    font-size: 1rem;
    background-image:  linear-gradient(to right, var(--primary-orange) , var(--primary-pink)) ;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    box-sizing: border-box;

}
.primary-button:hover{
    background-image:  linear-gradient(to left, var(--primary-orange) , var(--primary-pink)) ;
    border: none;
    outline: none;   
}

.secondary-button{
    padding: 1rem;
    color: var(--primary-coral);
    font-size: 1rem;
    background-color: white;
    outline: none;
    border: 3px solid var(--primary-coral);
    border-radius: 0.5rem;
    text-decoration: none;
    box-sizing: border-box;

}

.secondary-button:hover{
    color: var(--primary-coral);
    background-color: var(--light-pink) ;
    border: 3px solid var(--primary-coral);
    outline: none;   
}


  
