@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');


:root{
    
    --primary-coral:#FE656B;
    --dark-coral:#fe3239e1;
    --primary-pink: #FD6178;
    --primary-orange:#FF695E;
    --light-pink:#ffeaeb;
    --lightest-pink:  #fdf2f2;
    --dark-gray:#4f5255;
    --light-gray:#f1f1f1;  
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.075);
    --alert-red: #F66359;
    --alert-green: #6BBD6E;
    --alert-blue: #47A8F5;
    --alert-yellow: #FFAA2C; 
}

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    margin: 0;
}

div{
    display: block;
}


/********** grid ******/



.page {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "head head"
                         "nav  main"
                         ;
    grid-template-rows: 1fr 6fr ;
    grid-template-columns: 1fr 5fr;
  }
  
  .header {
    grid-area: head;
    background-color: var(--primary-coral) ;
    color: white;
    position: sticky;
    z-index: 10;

  }
  
.navigation {
    grid-area: nav;
    background-color: var(--lightest-pink);
    padding: 1rem;
    position: sticky;
    z-index: 11;
  
  }
  
   .main {
    grid-area: main;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
  }

  .container{
      margin: 0rem 2rem;
  }

  /* *********** image ************ */

  .hero-img{
      height: 10rem;
      align-items: center;
  }


  /*************** links ********************/

  .li-comps{
      list-style-type: none;
      padding: 1rem 0rem;
  }

  .li{
      text-decoration: none;
      color:black;

  }
.li-hover:hover{
    padding: 1rem;
    color: white;
    background-image:  linear-gradient(to right, var(--primary-orange) , var(--primary-pink)) ;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    transition: 0.2s;
}



/* **************alerts*********/

.alerts{
    padding: 1rem;
    color: white;
    margin: 1rem;
    display: inline-block;
    position: relative;
    
}

.alerts-error{
    background-color: var(--alert-red);
}

.alerts-success{
    background-color:var(--alert-green);
}

.alerts-info{
    background-color: var(--alert-blue);
}

.alerts-warning{
    background-color: var(--alert-yellow);
}

.closebtn {
    margin-left: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1rem;
    cursor: pointer;

}


  

/*********** button *********/
.buttons{
    display:flex;
    flex-wrap: wrap;
}

.button{
    padding: 1rem; 
    font-size: 1rem; 
    outline: none;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    box-sizing: border-box;
    margin: 1rem;

}

.primary-button{
    color: white;
    background-color:  var(--primary-coral) ;

}
.primary-button:hover{
    background-color:  var(--dark-coral) ;
    border: none;
    outline: none; 
    transition: 0.5ss;  
    box-shadow: var(--box-shadow);

}

.secondary-button{
    color: var(--primary-coral); 
    background-color: white;
    outline: none;
    border: 3px solid var(--primary-coral);
}

.secondary-button:hover{
    color: var(--dark-coral);
    background-color: var(--light-pink) ;
    outline: none;  
    transition: 0.5s; 
    box-shadow:var(--box-shadow);

} 

/* .btn-add-to-cart{
    
    text-align: right;
    background-color: var(--light-gray);
} */


/* ********card******* */

.cards-section{
    display: flex;
    flex-wrap: wrap;
   
}

.card{
    width: 15rem;
    height: 15rem;
    border-radius: 0.5rem;
    box-shadow:var(--box-shadow);
    padding: 0.75rem;
    margin: 1rem;
    border-radius: 1rem;
    position: relative;
}

.card-img{
    width: 100%;
}

.card-info{
    /* text-align: left; */
    /*background-color: var(--primary-coral); */
}

.card-add-to-cart{
    background-color: var(--primary-coral);
    border-radius: 0.2rem;
    padding: 0.5rem;
    position: absolute;
    bottom: 0.5rem;
    right: 1.5rem;
    color: white;
    box-shadow: var(--box-shadow);

}

.card-badge-small{
    position:absolute;
    font-size: 1rem;
    font-weight: 400;
    top: 1rem;
    left:0rem;
    background-color: var(--primary-coral);
    color: white;
    padding:0rem 0.5rem;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

}

.card-badge-large{
    position:absolute;
    font-size: 1rem;
    font-weight: 400;
    top: 1.7rem;
    left:-1.8rem;
    background-color: var(--primary-coral);
    color: white;
    padding:0rem 1rem;
    transform:rotate(-45deg);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

  
