@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');


:root{
    
    --primary-coral:#FE656B;
    --dark-coral:#fe3239e1;
    --primary-pink: #FD6178;
    --primary-orange:#FF695E;
    --light-pink:#ffeaeb;
    --lightest-pink:  #fdf2f2;
    --dark-gray:#4f5255;
    --light-gray:#f1f1f1;   
}

*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
}


/********** grid ******/



.page {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "head head"
                         "nav  main"
                         ;
    grid-template-rows: 1fr 6fr ;
    grid-template-columns: 1fr 5fr;
  }
  
  .header {
    grid-area: head;
    background-color: var(--primary-coral) ;
    color: white;

  }
  
.navigation {
    grid-area: nav;
    background-color: var(--lightest-pink);
  }
  
   .main {
    grid-area: main;
    padding: 2rem;
    
  }

  /* *********** image ************ */

  .hero-img{
      height: 10rem;
      align-items: center;
  }


  /*************** links ********************/

  .li-comps{
      list-style-type: none;
      padding: 1rem 0rem;
  }

  .li{
      text-decoration: none;
      color:black;

  }
.li-hover:hover{
    padding: 1rem;
    color: white;
    background-image:  linear-gradient(to right, var(--primary-orange) , var(--primary-pink)) ;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    transition: 0.3s;
}

  

/*********** button *********/

.button{
    padding: 1rem; 
    font-size: 1rem; 
    outline: none;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    box-sizing: border-box;
    margin: 1rem;

}

.primary-button{
    color: white;
    background-color:  var(--primary-coral) ;

}
.primary-button:hover{
    background-color:  var(--dark-coral) ;
    border: none;
    outline: none; 
    transition: 0.5s;  
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.secondary-button{
    color: var(--primary-coral); 
    background-color: white;
    outline: none;
    border: 3px solid var(--primary-coral);
}

.secondary-button:hover{
    color: var(--dark-coral);
    background-color: var(--light-pink) ;
    outline: none;  
    transition: 0.5s; 
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
} 



  
