<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>
    <link href="/styles.css" rel="stylesheet">
</head>

<body>
   

    <div class="container">
        <a class="primary-button" href="/mainpage.html"> Primary Button
        </a>
        <a class="secondary-button" href="/index.html"> Secondary Button
        </a>
        <a class="primary-button" href=""> Primary Button
        </a>

    </div>


</body>

</html>